:root {
    --primary-color: #e7e9ff;
    --secondary-color: #0E4BF1;
    --panel-color: #FFF;
    --sec-panel-color: #eee;
    --text-color: #000;
    --white: #fff;
    --black-light-color: #707070;
    --border-color: #e0e0e0;
    --error-color: #dc3545;
    --background-color: #eaeeff;

    
    /* ====== Transition ====== */
    --tran-05: all 0.5s ease;
    --tran-03: all 0.3s ease;
    --tran-03: all 0.2s ease;
}

body.dark {
    --primary-color: #3A3B3C;
    --secondary-color: #0E4BF1;
    --panel-color: #242526;
    --sec-panel-color: #3A3B3C;
    --text-color: #FFF;
    --white: #FFF;
    --black-light-color: #707070;
    --border-color: #4D4C4C;
    --error-color: #dc3545;
    --background-color: #3A3B3C;

    
    /* ====== Transition ====== */
    --tran-05: all 0.5s ease;
    --tran-03: all 0.3s ease;
    --tran-03: all 0.2s ease;
}